version: 2.1

orbs:
  aws-s3: circleci/aws-s3@3.0

jobs:
  generate-aritifacts:
    docker:
      - image: cimg/python:3.9

    steps:
      - checkout
      - run: pip install -r .circleci/requirements.txt
      - run:
          name: "Test env variables"
          command: echo ${SNOWFLAKE_ACCOUNT}
          environment:
            SNOWFLAKE_ACCOUNT: ${SNOWFLAKE_ACCOUNT}
      - run:
          name: "Generate artifacts"
          command: ./.circleci/run_test.sh snowflake
          environment:
            SNOWFLAKE_ACCOUNT: ${SNOWFLAKE_ACCOUNT}
            SNOWFLAKE_USER: ${SNOWFLAKE_USER}
            SNOWFLAKE_PASSWORD: ${SNOWFLAKE_PASSWORD}
            SNOWFLAKE_ROLE: $SNOWFLAKE_ROLE
            SNOWFLAKE_DATABASE: $SNOWFLAKE_DATABASE
            SNOWFLAKE_WAREHOUSE: $SNOWFLAKE_WAREHOUSE
      - aws-s3/sync:
          from: target
          to: 's3://my-dbt-site-test-bucket'
          arguments: |
            --exclude "*" \
            --include "index.html" \
            --include "catalog.json" \
            --include "manifest.json"
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY

workflows:
  version: 2
  update-website:
    jobs:
      - generate-aritifacts
