version: 2.1

orbs:
  aws-s3: circleci/aws-s3@3.0

jobs:
  integration-postgres:
    docker:
      - image: cimg/python:3.9
      - image: cimg/postgres:9.6
        environment:
          POSTGRES_USER: root
    environment:
      POSTGRES_TEST_HOST: localhost
      POSTGRES_TEST_USER: root
      POSTGRES_TEST_PASS: ''
      POSTGRES_TEST_PORT: 5432
      POSTGRES_TEST_DBNAME: circle_test

    steps:
      - checkout
      - run: pip install --pre dbt-postgres -r .circleci/requirements.txt
      - run:
          name: "Run OG Tests - Postgres"
          command: ./.circleci/run_test.sh postgres
      - aws-s3/sync:
          from: target
          to: 's3://my-dbt-site-test-bucket/target'
          arguments: |
            --exclude "*" \
            --include "index.html" \
            --include "catalog.json" \
            --include "manifest.json"
          aws-access-key-id: AWS_ACCESS_KEY_ID
          aws-region: AWS_REGION
          aws-secret-access-key: AWS_SECRET_ACCESS_KEY

workflows:
  version: 2
  test-all:
    jobs:
      - integration-postgres
